<template>
    <view class="qc-page">
        <main class="main">
            <qc-card title="标题">
                <qc-card-item label="字段1" :value="form.field1" />

                <qc-card-item label="字段2" :value="form.field2" />

                <qc-card-item label="字段3" :value="form.field3" />

                <qc-card-item label="字段4" :value="form.field4" />

                <qc-card-item label="字段5" :value="form.field5" />

                <qc-card-item label="字段6" :value="form.field6" />
            </qc-card>
        </main>
    </view>
</template>

<script setup lang="ts">
import { createForm } from '@/mixins/add'
import { $api, detailForm as form } from './index'
const { detail }: any = createForm(() => ({ form }))

// 获取详情数据
detail($api.IDetail)
</script>
